* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFF;
}

h1, h2, h3, h4, h5 {
 margin: 0;
}

/* Clearing float*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*styles for the header*/

header {
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
header li {
  display: inline-block;
}
/*Styles for main menu*/

.main-menu {
  border-bottom: 1px solid #B5B5B5;
}

.logo a {
  color: #BD081C;
}

.logo a:hover {
  color: #000;
}

.logo i {
  height: 100%;
  vertical-align: middle;
}

.search {
  border-radius: 6px;
  background-color: #EFEFEF;
  margin: 0 20px;
  width: 70%;
}

.search-box,.search-filter {
  display: inline-block;
}

.search-box {
    width: 85%;
    padding: 10px;
}

.search-box form {
  display: inline-block;
  width: 85%;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  width: 100%;
}

.gray-icon {
  padding: 0 10px;
}

.gray-icon i {
  color: #B5B5B5;
}

/*Styles for filter menu*/

.filter-menu li {
  border-radius: 6px;
  height: 60px;
  margin: 5px;
  background-color: gray;
  background-image: url(../assets/images/gato.jpg)
}

.filter-menu span {
  color: #FFF;
  display: block;
  font-weight: 700;
  line-height: 60px;
  padding: 0 24px;
  height: 100%;
  width: 100%;
  background: rgba(255, 153,204, 0.5);
  cursor: pointer;
}

/* Styles for search results */

.search-result {
  margin: 170px 80px 50px;
  min-width: 900px;
  column-count: 4;
  column-gap: 20px;
}

.image {
  margin-bottom: 20px;
  display: inline-block;
}

.image img {
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

/* Styles for post info */

.post, .share {
  float: left;
}

.post {
  width: 70%;
}

.share {
  width: 30%;
}

.user-name {
  font-weight: 700;
}

.first-letter {
  background-color: #E98829;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.first-letter span {
  color: #FFF;
  line-height: 30px;
}

.hashtag {
  margin-left: 35px;
}

.share {
  color: #B5B5B5;
  font-size: 10px;
}
